<div *ngIf="atributo.puntoCritico" class="accordion">
    <div *ngIf="atributo.puntoCritico.normativa" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoNormativa">
                Normativa
            </button>
        </h2>
        <div id="contenidoNormativa" class="accordion-collapse collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.normativa)"></div>
        </div>
    </div>
    <div *ngIf="atributo.puntoCritico.informacionAmpliatoria" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoInformacionAmpliatoria">
                Información Ampliatoria
            </button>
        </h2>
        <div id="contenidoInformacionAmpliatoria" class="accordion-collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.informacionAmpliatoria)"></div>
        </div>
    </div>
    <div *ngIf="atributo.puntoCritico.aporteConceptual" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoAporteConceptual">
                Aporte Conceptual
            </button>
        </h2>
        <div id="contenidoAporteConceptual" class="accordion-collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.aporteConceptual)"></div>
        </div>
    </div>
</div>
<div *ngFor="let _ of [].constructor(cantidadInstancias); index as indiceInstancia">
    <div *ngIf="indiceInstancia === 0" class="row">
        <h5>{{ atributo.nombre ? atributo.nombre+' ' : '' }}
            <span *ngIf="atributo.ayuda" class="d-inline-block" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                [attr.data-bs-content]="atributo.ayuda"
                data-bs-custom-class="custom-popover"
            >
                <i class="bi bi-question-circle-fill p-2" style="color: #616161; cursor: pointer;"></i>
            </span>
        </h5>
    </div>
    <div *ngFor="let fila of atributo.filasDatos" class="row">
        <ng-container *ngIf="atributo.multiInstanciable">
            <div class="col-auto align-self-center">
                <button type="button"class="btn btn-danger" 
                    style="padding-top:0;padding-bottom:0"
                    (click)="openModal()"
                >
                    <i class="bi bi-trash-fill fs-4"></i>
                </button>
            </div>
        </ng-container>
        <div *ngFor="let dato of fila.datos" class="col">
            <div class="mb-3">
                <!--
                    date,
                    dateLog
                -->
                <!--<ng-container *ngIf="indiceInstancia === 0">-->
                <label class="form-label">
                    {{ dato.nombre ? dato.nombre+' ' : "&nbsp;" }}
                    <span *ngIf="dato.ayuda" 
                        class="d-inline-block" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        [attr.data-bs-content]="dato.ayuda"
                        data-bs-custom-class="custom-popover"
                    >
                        <i class="bi bi-question-circle-fill p-2" style="color: #616161; cursor: pointer;"></i>
                    </span>
                </label>
                <!--</ng-container>-->
                <!-- Codigo computo -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.computo))">
                    <p>{{ mapValoresComputados.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))!.valor }}</p>
                </ng-container>
                <!-- Codigo text,number-->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.text))
                        || dato.tipo === (mapTipoInput.get(enumTiposInput.number))"
                >
                    <app-textonumber
                        [entrada]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,dato)"
                        (changeDetected)="handleChange($event)"
                    >
                    </app-textonumber>
                </ng-container>
                <!-- Codigo selectFijoUnico -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoUnico))">
                    <select class="form-select" 
                        (change)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)"
                        [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)"
                    >
                        <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                            <option 
                                *ngIf="muestroOpcion(opcion.muestroSi,indiceInstancia)"
                                [selected]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor)"
                                value={{opcion.valor}}
                            >
                                {{ opcion.string }}
                            </option>
                        </ng-container>
                    </select>
                </ng-container>
                <!-- Codigo selectFijoMultiple -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoMultiple))">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                        <mat-select multiple
                            (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)"
                            [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        >
                            <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))"
                                [value]="opcion.valor"
                            >
                                {{opcion.string}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <!-- Codigo radio -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.radio))">
                    <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                        <div class="form-check">
                            <input type="radio"
                                (click)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" 
                                [attr.checked]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor) ? '' : null" 
                                value={{objectToString(opcion.valor)}} class="form-check-input" 
                                [name]="objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))"
                            >
                            <label class="form-check-label">{{opcion.string}}</label>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Codigo porcentaje -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.porcentaje))">
                    <input class="form-control"
                        (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" 
                        [type]="mapTipoInputHTML.get(enumTiposInput.porcentaje)"
                        [placeholder]="dato.nombre || ''"
                        [formControl]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        [ngClass]="{ 'is-invalid': mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid }"
                    >
                    <div *ngIf="mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid" class="invalid-feedback">
                        Porcentaje debe estar entre 0 y 100.
                    </div>
                </ng-container>
                <!-- Codigo archivo -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.archivo))">
                    <app-archivo 
                        [entrada]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        (changeDetected)="handleChange($event)"
                    >
                    </app-archivo>
                </ng-container>
                <!-- Codigo selectUsuarioMultiple -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectUsuarioMultiple))">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                        <mat-select multiple 
                            (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)"
                            [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        >
                            <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))" 
                                [value]="opcion.valor"
                            >
                                {{opcion.string}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div *ngIf="atributo.multiInstanciable">
    <button type="button" class="btn btn-primary" (click)="agregarInstanciaAtributo()">
        Agregar {{ atributo.nombre }}
    </button>
</div>
