<div *ngIf="atributo.puntoCritico" class="accordion">
    <div *ngIf="atributo.puntoCritico.normativa" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoNormativa">
                Normativa
            </button>
        </h2>
        <div id="contenidoNormativa" class="accordion-collapse collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.normativa)"></div>
        </div>
    </div>
    <div *ngIf="atributo.puntoCritico.informacionAmpliatoria" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoInformacionAmpliatoria">
                Información Ampliatoria
            </button>
        </h2>
        <div id="contenidoInformacionAmpliatoria" class="accordion-collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.informacionAmpliatoria)"></div>
        </div>
    </div>
    <div *ngIf="atributo.puntoCritico.aporteConceptual" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contenidoAporteConceptual">
                Aporte Conceptual
            </button>
        </h2>
        <div id="contenidoAporteConceptual" class="accordion-collapse collapse">
            <div class="accordion-body" [innerHTML]="addLinkHTML(atributo.puntoCritico.aporteConceptual)"></div>
        </div>
    </div>
</div>
<input type="file" (change)="onFileSelected($event)" #fileUploader style="display:none">
<a #fileDownloader style="display:none"></a>
<div *ngFor="let _ of [].constructor(datoGuardado!.cantidadInstancias); index as indiceInstancia">
    <div *ngIf="indiceInstancia === 0 && atributo.nombre" class="row">
        <h5>{{ atributo.nombre ? atributo.nombre+' ' : '' }}
            <span *ngIf="atributo.ayuda" class="d-inline-block" data-bs-toggle="popover" data-bs-trigger="hover focus" [attr.data-bs-content]="atributo.ayuda" data-bs-custom-class="custom-popover">
                <i class="bi bi-question-circle-fill p-2" style="color: #616161; cursor: pointer;"></i>
            </span>
        </h5>
    </div>
    <!-- Primero muestro los atributos que son HERENCIA -->
    <div *ngIf="atributo.herencia && atributoHerencia && atributoHerencia!.filasDatos">
        <div class="d-flex flex-column pb-2 pt-2 align-items-end">
            <a class="btn btn-outline-primary" role="button" style="font-size: 12px; border: none;" data-bs-toggle="popover" data-bs-trigger="hover focus" [attr.data-bs-content]="'Podras cargar este dato con la información cargada en la sección ' + grupoHerencia!.nombre + ' de ' + etapaHerencia!.nombre"
                data-bs-custom-class="custom-popover">
                <!-- (click)="openModal('eliminar')" -->
                <i class="bi bi-arrow-bar-down pe-2"></i>CARGAR DATOS DESDE {{grupoHerencia!.nombre | uppercase}} DE {{etapaHerencia!.nombre | uppercase}}
            </a>
        </div>
        <div *ngFor="let fila of atributoHerencia!.filasDatos" class="row">
            <div *ngFor="let dato of fila.datos" class="col">
                <div class="mb-3">
                    <!--
                        date,
                        dateLog
                    -->
                    <label class="form-label pt-2">
                        {{ dato.nombre ? dato.nombre+' ' : "&nbsp;" }}
                        <span *ngIf="dato.ayuda" 
                            class="d-inline-block" 
                            data-bs-toggle="popover" 
                            data-bs-trigger="hover focus" 
                            [attr.data-bs-content]="dato.ayuda"
                            data-bs-custom-class="custom-popover"
                        >
                            <i class="bi bi-question-circle-fill p-2" style="color: #616161; cursor: pointer;"></i>
                        </span>
                    </label>
                    <!-- Codigo computo -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.computo))">
                        <p>{{ mapValoresComputados.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))!.valor }}</p>
                    </ng-container>
                    <!-- Codigo text -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.text))">
                        <input *ngIf="dato.tamanio < 200" class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                            [type]="dato.tipo" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)">
                        <textarea *ngIf="dato.tamanio > 199" class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                            [rows]="(dato.tamanio/100)" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)"></textarea>
                    </ng-container>
                    <!-- Codigo number -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.number))">
                        <input class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)"
                            [type]="dato.tipo" [placeholder]="dato.nombre || ''">
                    </ng-container>
                    <!-- Codigo selectFijoUnico -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoUnico))">
                        <select class="form-select" (change)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)">
                            <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                                <option 
                                    *ngIf="muestroOpcion(opcion.muestroSi,indiceInstancia)"
                                    [selected]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor)"
                                    value={{opcion.valor}}
                                >
                                    {{ opcion.string }}
                                </option>
                            </ng-container>
                        </select>
                    </ng-container>
                    <!-- Codigo selectFijoMultiple -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoMultiple))">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                            <mat-select multiple (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)">
                                <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))" [value]="opcion.valor">
                                    {{opcion.string}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <!-- Codigo radio -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.radio))">
                        <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                            <div class="form-check">
                                <input type="radio" (click)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [attr.checked]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor) ? '' : null"
                                    value={{objectToString(opcion.valor)}} class="form-check-input" [name]="objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))">
                                <label class="form-check-label">{{opcion.string}}</label>
                            </div>
                        </ng-container>
                    </ng-container>
                    <!-- Codigo porcentaje -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.porcentaje))">
                        <input class="form-control" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [type]="mapTipoInputHTML.get(enumTiposInput.porcentaje)" [placeholder]="dato.nombre || ''"
                            [formControl]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)" [ngClass]="{ 'is-invalid': mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid }">
                        <div *ngIf="mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid" class="invalid-feedback">
                            Porcentaje debe estar entre 0 y 100.
                        </div>
                    </ng-container>
                    <!-- Codigo archivo -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.archivo))">
                        <div class="row align-items-center">
                            <!-- Texto -->
                            <div class="col">
                                <input class="form-control" type="text" style="padding-right: 40px;" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'Texto')" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)">
                            </div>

                            <!-- Si existe archivo -->
                            <ng-container *ngIf="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'ExisteFile')">
                                <!-- Descargar archivo -->
                                <div class="col-auto d-block p-0" style="width: 0px;">
                                    <i title="Descargar archivo" (click)="downloadUserFile(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" class="bi bi-file-earmark-check fs-5 position-relative " style="right: 44px; color: #0d6efd;cursor: pointer;"></i>
                                </div>
                                <!-- Eliminar archivo -->
                                <div class="col-auto">
                                    <button (click)="eliminarArchivo(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Desvincular archivo"><i class="bi bi-trash-fill fs-5"></i></button>
                                </div>
                            </ng-container>

                            <!-- Si NO existe archivo -->
                            <ng-container *ngIf="!cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'ExisteFile')">
                                <!-- Subir archivo archivo -->
                                <div class="col-auto">
                                    <button (click)="openSelectFileDialog(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar archivo"><i class="bi bi-file-earmark-plus-fill fs-5"></i></button>
                                </div>
                            </ng-container>

                            <!-- Agrego link a Dato tipo archivo -->
                            <div class="col-auto">
                                <button (click)="openModalAgrergoLinkArchivo(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar enlace a sitio"><i class="bi bi-link fs-5"></i></button>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Codigo selectUsuarioMultiple -->
                    <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectUsuarioMultiple))">
                        <mat-form-field appearance="fill">
                            <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                            <mat-select multiple (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)">
                                <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))" [value]="opcion.valor">
                                    {{opcion.string}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
            <ng-container *ngIf="atributo.multiInstanciable">
                <div class="col-auto align-self-center">
                    <button type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" (click)="modalConfirmacion(atributo.ubicacion,atributo.id,indiceInstancia)">
                        <i class="bi bi-trash-fill fs-5"></i>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- Muestro las filas de datos propias del atributo -->
    <div *ngFor="let fila of atributo.filasDatos" class="row">
        <div *ngFor="let dato of fila.datos" class="col">
            <div class="mb-3">
                <!--
                    date,
                    dateLog
                -->
                <label class="form-label pt-2">
                    {{ dato.nombre ? dato.nombre+' ' : "&nbsp;" }}
                    <span *ngIf="dato.ayuda" 
                        class="d-inline-block" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="hover focus" 
                        [attr.data-bs-content]="dato.ayuda"
                        data-bs-custom-class="custom-popover"
                    >
                        <i class="bi bi-question-circle-fill p-2" style="color: #616161; cursor: pointer;"></i>
                    </span>
                </label>
                <!-- Codigo computo -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.computo))">
                    <p>{{ mapValoresComputados.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))!.valor }}</p>
                </ng-container>
                <!-- Codigo text -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.text))">
                    <input *ngIf="dato.tamanio < 200" class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        [type]="dato.tipo" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)">
                    <textarea *ngIf="dato.tamanio > 199" class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                        [rows]="(dato.tamanio/100)" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)"></textarea>
                </ng-container>
                <!-- Codigo number -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.number))">
                    <input class="form-control" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)"
                        [type]="dato.tipo" [placeholder]="dato.nombre || ''">
                </ng-container>
                <!-- Codigo selectFijoUnico -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoUnico))">
                    <select class="form-select" (change)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)">
                        <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                            <option 
                                *ngIf="muestroOpcion(opcion.muestroSi,indiceInstancia)"
                                [selected]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor)"
                                value={{opcion.valor}}
                            >
                                {{ opcion.string }}
                            </option>
                        </ng-container>
                    </select>
                </ng-container>
                <!-- Codigo selectFijoMultiple -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectFijoMultiple))">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                        <mat-select multiple (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)">
                            <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))" [value]="opcion.valor">
                                {{opcion.string}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <!-- Codigo radio -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.radio))">
                    <ng-container *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))">
                        <div class="form-check">
                            <input type="radio" (click)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [attr.checked]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,opcion.valor) ? '' : null"
                                value={{objectToString(opcion.valor)}} class="form-check-input" [name]="objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))">
                            <label class="form-check-label">{{opcion.string}}</label>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Codigo date -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.date))">
                    <div class="input-group">

                        <input class="form-control" datetime="yyyy-mm-dd" [type]="dato.tipo" [disabled]="estaDeshabilitado(dato.habilitadoSi,indiceInstancia)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)"
                            (click)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)">
                        <!-- <button class="btn btn-outline-primary bi bi-calendar-event" (click)="d.toggle()" type="button"></button> -->
                    </div>
                </ng-container>
                <!-- Codigo porcentaje -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.porcentaje))">
                    <input class="form-control" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)" [type]="mapTipoInputHTML.get(enumTiposInput.porcentaje)" [placeholder]="dato.nombre || ''"
                        [formControl]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)" [ngClass]="{ 'is-invalid': mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid }">
                    <div *ngIf="mapControlesCampos.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id))+indiceInstancia)!.invalid" class="invalid-feedback">
                        Porcentaje debe estar entre 0 y 100.
                    </div>
                </ng-container>
                <!-- Codigo archivo -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.archivo))">
                    <div class="row align-items-center">
                        <!-- Texto -->
                        <div class="col">
                            <input class="form-control" type="text" style="padding-right: 40px;" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'Texto')" [placeholder]="dato.nombre || ''" (keyup)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event.target)">
                        </div>

                        <!-- Si existe archivo -->
                        <ng-container *ngIf="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'ExisteFile')">
                            <!-- Descargar archivo -->
                            <div class="col-auto d-block p-0" style="width: 0px;">
                                <i title="Descargar archivo" (click)="downloadUserFile(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" class="bi bi-file-earmark-check fs-5 position-relative " style="right: 44px; color: #0d6efd;cursor: pointer;"></i>
                            </div>
                            <!-- Eliminar archivo -->
                            <div class="col-auto">
                                <button (click)="eliminarArchivo(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Desvincular archivo"><i class="bi bi-trash-fill fs-5"></i></button>
                            </div>
                        </ng-container>

                        <!-- Si NO existe archivo -->
                        <ng-container *ngIf="!cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,'ExisteFile')">
                            <!-- Subir archivo archivo -->
                            <div class="col-auto">
                                <button (click)="openSelectFileDialog(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar archivo"><i class="bi bi-file-earmark-plus-fill fs-5"></i></button>
                            </div>
                        </ng-container>

                        <!-- Agrego link a Dato tipo archivo -->
                        <div class="col-auto">
                            <button (click)="openModalAgrergoLinkArchivo(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia)" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar enlace a sitio"><i class="bi bi-link fs-5"></i></button>
                        </div>
                    </div>
                </ng-container>
                <!-- Codigo selectUsuarioMultiple -->
                <ng-container *ngIf="dato.tipo === (mapTipoInput.get(enumTiposInput.selectUsuarioMultiple))">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ dato.nombre ? dato.nombre : "Seleccione" }}</mat-label>
                        <mat-select multiple (selectionChange)="guardarCambio(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,$event)" [ngModel]="cargarInfoPrevia(computoUbicacionAbsoluta(dato.ubicacion,dato.id),indiceInstancia,mapTipoInput.revGet(dato.tipo)!,null)">
                            <mat-option *ngFor="let opcion of mapOpcionesSelect.get(objectToString(computoUbicacionAbsoluta(dato.ubicacion,dato.id)))" [value]="opcion.valor">
                                {{opcion.string}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="atributo.multiInstanciable">
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" (click)="modalConfirmacion(atributo.ubicacion,atributo.id,indiceInstancia)">
                    <i class="bi bi-trash-fill fs-5"></i>
                </button>
            </div>
        </ng-container>
    </div>
</div>
<div *ngIf="atributo.multiInstanciable">
    <button type="button" class="btn btn-outline-primary background-primary m-2 w-100" (click)="agregarInstanciaAtributo()" style="font-weight:500;">
        <i _ngcontent-ofn-c89="" class="bi bi-plus-square-dotted me-2"></i>
        Agregar {{ atributo.nombre }}
    </button>
</div>