.puntoCritico {
    border-left-style: solid;
    border-left-color: blue;
    border-left-width: 5px;
}

.custom-popover {
    --bs-popover-border-color: black;
    --bs-popover-border-width: 2px
}

.form-label {
    display: inline-flex;
}

.form-label-title {
    font-weight: 600;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.2);
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    background-color: #fff !important;
}