<div class="modal-header">
    <h4 class="modal-title">{{tittle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<div class="modal-body">
    <p>{{body}}</p>
    <ul class="lista-comentarios">
        <li *ngFor="let comentario of comentariosPrivados" class="card">
            <i class="bi bi-chat-right-text-fill"></i>{{comentario.valor}}
            <span>‧ {{comentario.fecha | date:'yyyy-MM-dd hh:mm'}} ‧</span>
            <button title="Quitar" (click)="quitarComentario(comentario)"><i class="bi bi-x-lg"></i></button>
        </li>
    </ul>
    <div *ngFor="let datoInput of inputDisclaimer; let i = index">
        <input type="text" class="form-control" id="input-content_{{i}}"  placeholder='{{datoInput}}' style="margin: 0.5rem 0;">
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-gray" (click)="reject()">Cancelar</button>
    <button type="button" class="btn btn-primary background-primary m-2" (click)="resolve()">Confirmar</button>
</div>