<div class="card container">
  <div class="card-body ">
    <div class="d-flex flex-row">
      <i class="bi bi-mortarboard-fill p-2"></i>
      <h4 class="p-2">{{ grupo.nombre }}</h4>
    </div>
    <div class="card border-secondary mb-3">
      <div class="card-body">
        <i class="bi bi-chat-right-text-fill d-flex flex-column pb-2 align-items-end" style="color: #616161; cursor: pointer;"></i>
        <div
          *ngFor="let atributo of grupo.atributos"
          class="card border-secondary mb-3"
          [ngClass]="{'puntoCritico': atributo.puntoCritico}"
          [ngStyle]="{'background-color': atributo.puntoCritico ? '#e6f1fc' : null}"
          
        >
          <div class="card-body">
            <app-atributo [atributo]="atributo"></app-atributo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
