
.background-primary{
    background-color: var(--bs-btn-bg);
}


.btn-rounded{
    border-radius: 1.75rem;
    padding: 0.35rem 1rem;
}

.img-empty{
    max-height: 280px;
}

.card{
    cursor: pointer;
}
.card-title{
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    margin: 0;
}

.container-card{
    padding: 24px;
}

.card-img{
    max-height: inherit;
    padding: 24px;
    opacity: .3;
}

.card-img-containter{
    background: #0b5dd770;
    max-height: 230px;
    position: relative;
}

.btn-outline-expand{
    font-size: 0px;
    display: flex;
    transition: font-size 0.2s;
}

.btn-outline-expand{
    color: #0b5dd7;
}

.btn-outline-expand:focus,
.btn-outline-expand:hover{
    font-size: 12px;
    color: #0b5dd7;
}

.btn-outline-expand > i{
    font-size: 12px;
}
.btn-outline-expand:focus > i,
.btn-outline-expand:hover > i{
    margin-right: 0.5rem!important;
}

.dropdown-toggle::after{
    margin: .5em 0 0 .5em;
}

.file-upload {
    display: none;
  }

.fade.show{
    display: block;
    transition: display .15s linear;
}

.fade:not(.show){
    display: none;
}