<input type="file" (change)="onFileSelected($event)" #fileUploader style="display:none">
<div class="row align-items-center">
    <div class="col">
        <input class="form-control" type="text" style="padding-right: 40px;"
            (keyup)="cambioEnTexto($event.target)"
            [ngModel]="texto"
        >
    </div>
    <div class="col-auto d-block p-0" *ngIf="entrada.datoGuardado && entrada.datoGuardado.fileName" style="width: 0px;">
        <i title="Ver archivo" (click)="downloadFile()"
             class="bi bi-file-earmark-check fs-5 position-relative " style="right: 44px; color: #0d6efd;cursor: pointer;"></i>
    </div>

    <div class="col-auto">
        <button (click)="fileUploader.click()" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar archivo"><i class="bi bi-file-earmark-plus-fill fs-5"></i></button>
    </div>

    <div class="col-auto">
        <button (click)="openModal()" type="button" class="btn btn-outline-primary background-primary" style="padding-top:3px;padding-bottom:3px;" title="Agregar enlace a sitio"><i class="bi bi-link fs-5"></i></button>
    </div>
</div>