<input *ngIf="entrada.dato.tamanio < 200" class="form-control"
    [disabled]="entrada.deshabilitado" 
    [ngModel]="valorDato"
    [type]="entrada.dato.tipo"
    [placeholder]="entrada.dato.nombre || ''"
    (keyup)="cambioEnValor($event.target)"
>
<textarea *ngIf="entrada.dato.tamanio > 199" class="form-control"
    [disabled]="entrada.deshabilitado" 
    [ngModel]="valorDato"
    [rows] = "(entrada.dato.tamanio/100)"
    [placeholder]="entrada.dato.nombre || ''"
    (keyup)="cambioEnValor($event.target)"
></textarea>